@using Doorang.Core.Models;
@model List<Explorer>
@{
    int count = 0;
}
<div class="container">
    <h1>

        Teams
        <a class="btn btn-primary" asp-action="Create" asp-controller="Explorer">Create</a>

    </h1>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Subtitle</th>
                    <th scope="col">Description</th>
                    <th scope="col">ImageUrl</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <th scope="row">@count</th>
                        <td>@item.Title</td>
                        <td>@item.Subtitle</td>
                        <td>@item.Description</td>
                        <td>
                            <div style="width:100px">
                                <img width="100%" src="~/Uploads/Explorer/@item.ImageUrl"></img>
                            </div>
                        </td>
                        <td>
                            <a class="btn btn-danger" asp-action="Delete" asp-controller="Explorer" asp-route-id=@item.Id>Delete</a>
                            <a class="btn btn-info" asp-action="Update" asp-controller="Explorer" asp-route-id=@item.Id>Update</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>